NODE_ENV=development
PORT=8000
FRONTEND_URL=http://localhost:3000

DATABASE=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/sanad?retryWrites=true&w=majority
DATABASE_PASSWORD=<your-database-password>

TOKEN_SECRET=<your-jwt-secret-key>
TOKEN_EXPIRES_IN=10d

COOKIE_EXPIRES_IN=10

GOOGLE_CLIENT_ID=<your-google-client-id>
GOOGLE_CLIENT_SECRET=<your-google-client-secret>
GOOGLE_CALLBACK_URL=http://localhost:8000/api/auth/google/redirect
